<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentLocationData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHB1YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBQVVSRudWxs2AkKCwwNDg8QEREREhETERFfEBFjaGFyYWN0ZXJSYW5nZUxl
	bl8QFHN0YXJ0aW5nQ29sdW1uTnVtYmVyXxASZW5kaW5nQ29sdW1uTnVtYmVyViRjbGFz
	c18QEGVuZGluZ0xpbmVOdW1iZXJbZG9jdW1lbnRVUkxfEBJzdGFydGluZ0xpbmVOdW1i
	ZXJfEBFjaGFyYWN0ZXJSYW5nZUxvYxAAgAOAAl8Q3i9Vc2Vycy9xbm9pZC9MaWJyYXJ5
	L0RldmVsb3Blci9YY29kZS9EZXJpdmVkRGF0YS93aW5kbWlsbC1mZXpjdmRybXJvYXJh
	YWJmYm5rdGppa214Z3ZrL0J1aWxkL1Byb2R1Y3RzL0RlYnVnL2ZpbGU6L1VzZXJzL3Fu
	b2lkL0RldmVsb3Blci93aW5kbWlsbC1leGFtcGxlcy9wcm9qZWN0LXdpdGgtc3VibW9k
	dWxlcy9wcm9qZWN0LXdpdGgtc3VibW9kdWxlcy9WaWV3Q29udHJvbGxlci5zd2lmdNIW
	FxgZWiRjbGFzc25hbWVYJGNsYXNzZXNfEB1XaW5kbWlsbC5UZXh0RG9jdW1lbnRMb2Nh
	dGlvbqIaG18QHVdpbmRtaWxsLlRleHREb2N1bWVudExvY2F0aW9uWE5TT2JqZWN0XxAP
	TlNLZXllZEFyY2hpdmVy0R4fVHJvb3SAAQAIABEAGgAjAC0AMgA3ADwAQgBTAGcAfgCT
	AJoArQC5AM4A4gDkAOYA6AHJAc4B2QHiAgICBQIlAi4CQAJDAkgAAAAAAAACAQAAAAAA
	AAAgAAAAAAAAAAAAAAAAAAACSg==
	</data>
</dict>
</plist>
