<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>Status</key>
				<string>IDEActionResultStatus_NotRequested</string>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>LogPath</key>
				<string>1_Run/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>EndedTime</key>
			<date>2018-03-04T12:16:20Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>100</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i7</string>
					<key>CPUSpeedInMHz</key>
					<integer>2300</integer>
					<key>Identifier</key>
					<string>0457FD86-F672-59BB-95B8-2627B95F29DC</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>8</integer>
					<key>ModelCode</key>
					<string>MacBookPro11,3</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-15-retina-display</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.13.3</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.13.3 (17D102)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>4</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>16384</integer>
				</dict>
				<key>Name</key>
				<string>iPhone 5s</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>B7901B24-A855-4767-860B-A34F11168F4D</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone6,1</string>
					<key>ModelName</key>
					<string>iPhone 5s</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-5s-a1453-d4c5b3</string>
					<key>Name</key>
					<string>iPhone 5s</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>11.2</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>11.2 (15C107)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator11.2</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 11.2</string>
					<key>OperatingSystemVersion</key>
					<string>11.2</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Run</string>
			<key>SchemeTask</key>
			<string>Build</string>
			<key>StartedTime</key>
			<date>2018-03-04T12:16:14Z</date>
			<key>Title</key>
			<string>Clean "project-with-submodules"</string>
		</dict>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>Status</key>
				<string>IDEActionResultStatus_NotRequested</string>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>1</integer>
				<key>ErrorSummaries</key>
				<array>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEBIQABABgAMQFIAA
						EQGeXxCEZmlsZTovLy9Vc2Vycy9x
						bm9pZC9MaWJyYXJ5L0NhY2hlcy9p
						by53aW5kbWlsbC53aW5kbWlsbC9T
						b3VyY2VzL3Byb2plY3Qtd2l0aC1z
						dWJtb2R1bGVzL3Byb2plY3Qtd2l0
						aC1zdWJtb2R1bGVzL1ZpZXdDb250
						cm9sbGVyLnN3aWZ00h0eHyBaJGNs
						YXNzbmFtZVgkY2xhc3Nlc18QF0RW
						VFRleHREb2N1bWVudExvY2F0aW9u
						oyEiI18QF0RWVFRleHREb2N1bWVu
						dExvY2F0aW9uXxATRFZURG9jdW1l
						bnRMb2NhdGlvblhOU09iamVjdF8Q
						D05TS2V5ZWRBcmNoaXZlctEmJ1Ry
						b290gAEACAARABoAIwAtADIANwA8
						AEIAVwBjAHoAjwCjALYAvQDQANoA
						7wEDAQUBBwEJAQsBDQEPAREBFAGb
						AaABqwG0Ac4B0gHsAgICCwIdAiAC
						JQAAAAAAAAIBAAAAAAAAACgAAAAA
						AAAAAAAAAAAAAAIn
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Error</string>
						<key>Message</key>
						<string>Use of unresolved identifier 'Barr'</string>
						<key>Target</key>
						<string>project-with-submodules</string>
					</dict>
				</array>
				<key>LogPath</key>
				<string>2_Test/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Failed</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>EndedTime</key>
			<date>2018-03-04T12:16:20Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>100</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i7</string>
					<key>CPUSpeedInMHz</key>
					<integer>2300</integer>
					<key>Identifier</key>
					<string>0457FD86-F672-59BB-95B8-2627B95F29DC</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>8</integer>
					<key>ModelCode</key>
					<string>MacBookPro11,3</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-15-retina-display</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.13.3</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.13.3 (17D102)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>4</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>16384</integer>
				</dict>
				<key>Name</key>
				<string>iPhone 5s</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>B7901B24-A855-4767-860B-A34F11168F4D</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone6,1</string>
					<key>ModelName</key>
					<string>iPhone 5s</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-5s-a1453-d4c5b3</string>
					<key>Name</key>
					<string>iPhone 5s</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>11.2</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>11.2 (15C107)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator11.2</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 11.2</string>
					<key>OperatingSystemVersion</key>
					<string>11.2</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Test</string>
			<key>SchemeTask</key>
			<string>Build</string>
			<key>StartedTime</key>
			<date>2018-03-04T12:16:15Z</date>
			<key>Title</key>
			<string>Build for Testing "project-with-submodules"</string>
		</dict>
	</array>
	<key>AnalyzerWarningCount</key>
	<integer>0</integer>
	<key>CreatingWorkspaceFilePath</key>
	<string>/Users/qnoid/Library/Caches/io.windmill.windmill/Sources/project-with-submodules/project-with-submodules.xcodeproj</string>
	<key>ErrorCount</key>
	<integer>1</integer>
	<key>ErrorSummaries</key>
	<array>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGJCVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBscVSRudWxs2gkKCwwNDg8QERIT
			FBQVFhcYGRgaW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACEBIQABABgAMQFIAA
			EQGeXxCEZmlsZTovLy9Vc2Vycy9xbm9pZC9MaWJyYXJ5L0NhY2hl
			cy9pby53aW5kbWlsbC53aW5kbWlsbC9Tb3VyY2VzL3Byb2plY3Qt
			d2l0aC1zdWJtb2R1bGVzL3Byb2plY3Qtd2l0aC1zdWJtb2R1bGVz
			L1ZpZXdDb250cm9sbGVyLnN3aWZ00h0eHyBaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc18QF0RWVFRleHREb2N1bWVudExvY2F0aW9uoyEiI18Q
			F0RWVFRleHREb2N1bWVudExvY2F0aW9uXxATRFZURG9jdW1lbnRM
			b2NhdGlvblhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEmJ1Ry
			b290gAEACAARABoAIwAtADIANwA8AEIAVwBjAHoAjwCjALYAvQDQ
			ANoA7wEDAQUBBwEJAQsBDQEPAREBFAGbAaABqwG0Ac4B0gHsAgIC
			CwIdAiACJQAAAAAAAAIBAAAAAAAAACgAAAAAAAAAAAAAAAAAAAIn
			</data>
			<key>IssueType</key>
			<string>Swift Compiler Error</string>
			<key>Message</key>
			<string>Use of unresolved identifier 'Barr'</string>
			<key>Target</key>
			<string>project-with-submodules</string>
		</dict>
	</array>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>Running</key>
	<false/>
	<key>TestsCount</key>
	<integer>0</integer>
	<key>TestsFailedCount</key>
	<integer>0</integer>
	<key>WarningCount</key>
	<integer>0</integer>
</dict>
</plist>
