* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

address, caption, code, figcaption, pre, th {
    font-size: 1em;
    font-weight: 400;
    font-style: normal
}

fieldset, iframe, img {
    border: 0
}

caption, th {
    text-align: left
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

button {
    background: 0 0;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit
}

button:disabled {
    cursor: default
}

html {
    font-family: -apple-system, -apple-system-font, HelveticaNeue, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #000;
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern'
}

h1 {
    margin: 0 0 .75em;
    padding: 0;
    outline: 0;
    overflow: auto;
    font-family: -apple-system, -apple-system-font, HelveticaNeue, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.692rem;
    font-weight: 500;
    line-height: 1.3;
    color: #000
}

h1:lang(hi), h1:lang(th), h1:lang(vi) {
    line-height: 1.5
}

sup {
    top: -.4em
}

div.ParaLines, p {
    margin: .1em 0 1em;
    white-space: pre-line;
    word-wrap: break-word;
    widows: 3;
    orphans: 3
}

div.ParaLines p, p p {
    margin: 0
}

em:lang(ja), em:lang(ko), em:lang(zh) {
    font-style: normal;
    font-weight: 700
}

li p.Caution, li p.Important, li p.Note, li p.Notice, li p.Tip {
    margin-top: .75em
}

.TaskBody .Alert, div.note {
    margin-top: .75em;
    margin-bottom: .75em
}

p.Caution, p.Warning {
    margin-bottom: .75em
}

.Alert + .Alert {
    margin-top: .75em
}

.yNote {
    font-style: italic;
    font-weight: 700
}

ul + .Alert {
    margin-left: 0
}

[dir=rtl] ul + .Alert {
    margin-left: 0;
    margin-right: 0
}

code {
    font-family: Menlo, monospace
}

td code, th code {
    font-size: .7692rem;
    padding-top: .05em
}

.CodeLine, .CodeLines {
    display: block;
    font-weight: 400;
    white-space: pre-wrap;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis
}

.CodeLines {
    margin-top: .3em;
    margin-bottom: 1em
}

.CodeLines > .CodeLine {
    margin-top: .25em;
    margin-bottom: .25em
}

.Copyright {
    font-size: .65rem
}

.Copyright h1 {
    display: none
}

.Copyright p:nth-of-type(1) {
    margin-bottom: .1em
}

.Copyright p:nth-of-type(2) {
    margin-top: .1em
}

.HIStrings {
    margin-top: 1.25em;
    margin-bottom: .25em
}

.HIStrings p {
    margin-bottom: .9em
}

.HIStrings > p {
    margin-bottom: 0
}

.HIStrings:first-child {
    padding-top: 0;
    margin-top: .65em
}

.HIStrings + .HIStrings {
    margin-top: .5em
}

.HIStrings em.Term {
    color: #555
}

.HIStrings strong.Term {
    color: #000
}

.HISubString {
    margin-top: .3em;
    margin-bottom: .7em;
    display: list-item;
    margin-left: 1.5em;
    padding-left: .25em
}

[dir=rtl] .HISubString {
    margin-left: 0;
    margin-right: 1.5em
}

[dir=rtl] .HISubString {
    padding-left: 0;
    padding-right: .25em
}

.HISubString > .HISubString {
    margin-top: .85em;
    display: block;
    margin-left: 0;
    padding-left: 0
}

[dir=rtl] .HISubString > .HISubString {
    margin-left: 0;
    margin-right: 0
}

[dir=rtl] .HISubString > .HISubString {
    padding-left: 0;
    padding-right: 0
}

strong.BlackIcon, strong.EUIcon, strong.Icon, strong.YellowIcon,
strong.force-click, strong.siri, strong.tip, strong[class="3d-touch"] {
    background: url(img/icon-warning.png) left top no-repeat;
    background-size: 1.2rem .984rem;
    padding: 0 0 0 1.5em
}

[dir=rtl] strong.BlackIcon, [dir=rtl] strong.EUIcon, [dir=rtl] strong.Icon,
[dir=rtl] strong.YellowIcon, [dir=rtl] strong.force-click, [dir=rtl] strong.siri,
[dir=rtl] strong.tip, [dir=rtl] strong[class="3d-touch"] {
    padding: 0 1.5em 0 0;
    background-position: right top
}

strong.EUIcon {
    background-image: url(img/icon-warning-eu.png)
}

strong.BlackIcon {
    background-image: url(img/icon-warning-black.png)
}

strong.force-click, strong.siri, strong.tip, strong[class="3d-touch"] {
    background-image: url(img/ask-siri.svg);
    background-size: 1.4em 1.4em;
    padding: .15em 0 .15em 1.7em
}

[dir=rtl] strong.force-click, [dir=rtl] strong.siri, [dir=rtl] strong.tip,
[dir=rtl] strong[class="3d-touch"] {
    padding: .15em 1.7em .15em 0
}

strong.tip {
    background-image: url(img/tip.svg)
}

strong.force-click, strong[class="3d-touch"] {
    background-image: url(img/force-click.svg)
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    height: 1.2em !important;
    width: auto !important;
    vertical-align: -.2em;
    pointer-events: none
}

.topicIcon {
    display: inline-block;
    float: left;
    width: 40px;
    height: 30px;
    background-size: 30px 30px;
    margin: 0;
    top: 0
}

div.ParaLines img, p img {
    height: 1em !important;
    width: auto !important;
    position: relative;
    top: -.1em;
    vertical-align: text-bottom;
    pointer-events: none
}

.landing {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.landing .inner {
    background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
    text-align: center;
    margin: 0 -2.61538em 0 -2.61538em;
    padding: 3.23077em 2.76923em 2.07692em 2.76923em
}

.single-landing.landing {
    padding-top: 0;
    text-align: left;
    margin: 0
}

[dir=rtl].single-landing.landing {
    text-align: right
}

.single-landing .inner + p {
    margin-top: 2.30769em
}

.single-landing .inner .topicIcon {
    float: none;
    top: 0;
    width: auto;
    height: auto;
    background-size: auto;
    display: block
}

a.xRef.Aside {
    border-bottom: 1.5px dotted #007aff
}

a.xRef.Aside:hover {
    border-bottom-style: solid;
    text-decoration: none
}

.no-hover a.xRef.Aside:hover {
    border-bottom: 1.5px dotted #007aff
}

.LinkExternal, .LinkUniversal {
    margin: 2em 0 0 0
}

.LinkExternal strong, .LinkUniversal strong {
    display: block
}

.LinkExternal a, .LinkUniversal a {
    display: block;
    margin: .2em 0 .3em 0
}

.link-external {
    background-image: url(img/icon-external-link.png);
    width: 7px;
    height: 7px;
    background-size: 7px 7px;
    display: inline-block;
    margin-left: 3px;
    margin-right: 2px;
    position: relative
}

[data-change-bar=true] {
    border-left: 2px solid red;
    background-color: #ffc8c8 !important;
    padding-left: 2px;
    padding-right: 4px
}

[data-change-bar=true] [data-change-bar=true] {
    border: 0;
    padding: 0;
    background-color: inherit
}

.Comment {
    display: none
}

table, td, th, tr {
    border: none;
    page-break-inside: avoid
}

table {
    width: 100%;
    font-size: .9231rem;
    line-height: 1.38465rem;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    margin-top: 1.3em;
    margin-bottom: 2em
}

[dir=rtl] table {
    text-align: right
}

table:first-child {
    margin-top: 1.25em
}

table th {
    padding: .35em .6em .4em 0
}

[dir=rtl] table th {
    padding: .25em 0 .3em .6em
}

table td {
    padding: .65em .6em .6em 0
}

[dir=rtl] table td {
    padding: .65em 0 .6em .6em
}

table td ol, table td p, table td ul {
    margin-top: .4em;
    margin-bottom: .6em
}

table td > figure {
    padding-left: .15em;
    margin-top: 1em !important;
    margin-bottom: .25em !important
}

[dir=rtl] table td > figure {
    padding-left: 0;
    padding-right: .15em
}

table td > .TableDisplay, table td > ol li > p, table td > ul li > p, table td > ul > li {
    margin-top: .25em !important;
    margin-bottom: .25em !important
}

table td ol > li {
    margin-bottom: 0
}

table figure {
    min-width: 16px
}

table td > :first-child, table th > :first-child {
    margin-top: 0 !important
}

table td > :first-child > :first-child, table th > :first-child > :first-child {
    margin-top: 0 !important
}

table td > :first-child > :first-child > :first-child, table th > :first-child > :first-child > :first-child {
    margin-top: 0 !important
}

table td > :last-child, table th > :last-child {
    margin-bottom: 0 !important
}

table td > :last-child > :last-child, table th > :last-child > :last-child {
    margin-bottom: 0 !important
}

table td > :last-child > :last-child > :last-child, table th > :last-child > :last-child > :last-child {
    margin-bottom: 0 !important
}

table:first-child > tbody:first-child {
    border-top-color: #fff !important
}

table > tbody {
    border-top: 1px solid #ccc
}

table > thead + tbody {
    border-top: none
}

thead > tr {
    background: 0 0;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc
}

table tbody tr {
    border-bottom: 1px solid #ccc
}

table tbody > tr:last-child {
    border-bottom: 1px solid #ccc
}

thead + tbody tr.TableDisplayRow:first-child {
    border-top: none !important
}

thead + tbody > tr {
    border-top: none !important
}

p.TableHead {
    font-weight: 700;
    color: #000
}

td, th {
    vertical-align: top;
    text-align: left
}

[dir=rtl] td, [dir=rtl] th {
    text-align: right
}

table tbody > tr td > p.TableDisplay {
    font-weight: 700;
    vertical-align: top
}

table tbody > tr td > .TableDisplay + p {
    vertical-align: top
}

table[data-type="1 column"] {
    background-color: transparent;
    table-layout: fixed
}

table[data-type="1 column"] thead tr {
    background: 0 0;
    border-top: 3px solid #ccc
}

table[data-type="1 column"] tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

table[data-type="1 column"] tr.TableDisplayRow {
    background-color: transparent
}

table[data-type="1 column"] > tbody {
    width: 100%
}

table[data-type="1 column"] .TableDisplay, table[data-type="1 column"] .TableHead,
table[data-type="1 column"] .TableSubhead {
    overflow: hidden;
    font-weight: 700;
    color: #000 !important;
    text-overflow: ellipsis;
    vertical-align: top
}

table[data-type="Full Width"], table[data-type=Data] {
    background-color: transparent
}

table[data-type="Full Width"] > tbody, table[data-type=Data] > tbody {
    width: 100%
}

table[data-type="Full Width"] > tbody > tr > td, table[data-type=Data] > tbody > tr > td {
    border: 1px solid #ccc
}

table[data-type="Full Width"] tr, table[data-type=Data] tr {
    background: 0 0
}

table[data-type="Full Width"] thead p.TableHead, table[data-type=Data] thead p.TableHead {
    color: #666 !important
}

table[data-type="Full Width"] tr > th, table[data-type=Data] tr > th {
    border: 1px solid #ccc;
    padding: .4em
}

table[data-type="Full Width"] td > p, table[data-type=Data] td > p {
    display: block;
    text-align: left
}

table[data-type="Full Width"] .TableDisplay, table[data-type="Full Width"] .TableSubhead,
table[data-type=Data] .TableDisplay, table[data-type=Data] .TableSubhead {
    display: block;
    font-weight: 700;
    color: #555;
    text-align: left
}

.topicIcon + h1 {
    margin-top: .1em
}

.ParaLines .footer {
    font-size: .65rem;
    color: #999
}

.Subhead .Name {
    margin-top: 1.7em;
    margin-bottom: .3em
}

.Subhead .Name + p {
    margin-top: 0
}

address {
    font-style: normal
}

address p {
    margin-top: 0;
    margin-bottom: 0
}

address + p {
    margin-top: 1em
}

.Example {
    margin-left: 4.36em;
    margin-right: 4.36em
}

.footer, footer {
    font-size: .65rem !important;
    color: #999 !important
}

.footer a, footer a {
    color: #666
}

figure + p.footer {
    margin-bottom: 2em
}

span.NoBreak {
    white-space: nowrap
}

video {
    max-width: 100%
}

.PassionPoints {
    padding-top: 0;
    padding-bottom: 0
}

.PassionPoints .hide-me {
    display: none
}

@media all and (max-width:1161px) {
    .PassionPoints {
        margin-left: 0;
        margin-right: 0
    }
}

.PassionPoints div.Feature {
    position: relative;
    overflow: hidden;
    padding: 2.61538em 0;
    margin: 0;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    transition: background-color .2s linear, border-color .2s linear
}

@media all and (max-width:700px) {
    .PassionPoints div.Feature {
        padding: 0 0 1.69231em 0
    }
}

[dir=rtl].PassionPoints div.Feature {
    text-align: right;
    padding-right: 2em
}

.PassionPoints div.Feature figure, .PassionPoints div.Feature img {
    pointer-events: none
}

.PassionPoints div.Feature figure:nth-of-type(1) {
    margin-top: 0;
    margin-bottom: 0
}

.PassionPoints div.Feature .toggle-feature-btn {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background: url(img/icon-arrow-2.svg) center 97% no-repeat;
    margin: 0 auto;
    padding: 3px;
    border: 0;
    cursor: pointer
}

.PassionPoints div.Feature > .Name {
    margin: 0 0 .3em 0;
    pointer-events: none
}

.PassionPoints div.Feature > .Name + p {
    margin-bottom: .9231em;
    line-height: 1.5;
    pointer-events: none
}

.PassionPoints div.Feature > .Name + figure {
    margin-top: .6em
}

.PassionPoints div.Feature .FeatureBody {
    padding-top: 1.5em;
    overflow: hidden
}

@media screen {
    .PassionPoints div.Feature .FeatureBody[aria-hidden=true] {
        max-height: 0 !important
    }
}

.PassionPoints div.Feature .FeatureBody p {
    line-height: 1.5
}

.PassionPoints div.Feature .FeatureBody:last-child {
    padding-bottom: 0
}

.PassionPoints div.Feature .FeatureBody > p:first-child {
    text-align: left;
    padding-bottom: 1em
}

[dir=rtl].PassionPoints div.Feature .FeatureBody > p:first-child {
    text-align: right
}

.PassionPoints div.Feature .FeatureBody .Name {
    margin-top: 0;
    text-align: left;
    line-height: 1.5
}

[dir=rtl].PassionPoints div.Feature .FeatureBody .Name {
    text-align: right
}

.PassionPoints div.Feature .FeatureBody .Subhead {
    padding: 1.5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media all and (max-width:390px) {
    .PassionPoints div.Feature .FeatureBody .Subhead {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }
}

.PassionPoints div.Feature .FeatureBody .Subhead > div {
    width: 100%
}

.PassionPoints div.Feature .FeatureBody .Subhead > div p:last-child {
    margin-bottom: 0
}

.PassionPoints div.Feature .FeatureBody .Subhead p, [dir=rtl].PassionPoints div.Feature .FeatureBody .Subhead h2 {
    text-align: right
}

.PassionPoints div.Feature .FeatureBody .Subhead figure {
    max-width: 900px;
    -ms-flex-item-align: start;
    align-self: flex-start
}

@media all and (max-width:390px) {
    .PassionPoints div.Feature .FeatureBody .Subhead figure {
        -ms-flex-item-align: center;
        align-self: center
    }
}

[dir=rtl].PassionPoints div.Feature .FeatureBody .Subhead figure {
    max-width: 320px
}

.PassionPoints div.Feature .FeatureBody .Subhead figure figcaption {
    font-size: .7rem;
    color: #999
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-left figure,
.PassionPoints div.Feature .FeatureBody .Subhead:nth-child(even) figure {
    padding-left: 0;
    padding-right: 2em
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-left figure,
[dir=rtl].PassionPoints div.Feature .FeatureBody .Subhead:nth-child(even) figure {
    padding-right: 0 !important;
    padding-left: 2em
}

@media all and (max-width:390px) {
    .PassionPoints div.Feature .FeatureBody .Subhead.figure-left figure,
    .PassionPoints div.Feature .FeatureBody .Subhead:nth-child(even) figure {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 1em
    }
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-right,
.PassionPoints div.Feature .FeatureBody .Subhead:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-right figure,
.PassionPoints div.Feature .FeatureBody .Subhead:nth-child(odd) figure {
    padding-left: 2em;
    padding-right: 0
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-right figure,
[dir=rtl].PassionPoints div.Feature .FeatureBody .Subhead:nth-child(odd) figure {
    padding-left: 0 !important;
    padding-right: 2em
}

@media all and (max-width:390px) {
    .PassionPoints div.Feature .FeatureBody .Subhead.figure-right figure,
    .PassionPoints div.Feature .FeatureBody .Subhead:nth-child(odd) figure {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1em
    }
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

[dir=rtl].PassionPoints div.Feature .FeatureBody .Subhead.figure-top figure {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

@media all and (max-width:390px) {
    .PassionPoints div.Feature .FeatureBody .Subhead.figure-bottom {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }
}

[dir=rtl].PassionPoints div.Feature .FeatureBody .Subhead.figure-bottom figure {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-top figure {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em
}

.PassionPoints div.Feature .FeatureBody .Subhead.figure-bottom figure {
    padding: 1em 0 0 0
}

.PassionPoints div.Feature .FeatureBody .Triptych {
    border-top: 1px solid #ccc;
    padding: 1.5em 0;
    min-width: 460px
}

@media all and (max-width:1161px) {
    .PassionPoints div.Feature .FeatureBody .Triptych {
        min-width: auto
    }
}

.PassionPoints div.Feature .FeatureBody .Triptych .panel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 10px -10px
}

@media all and (max-width:390px) {
    .PassionPoints div.Feature .FeatureBody .Triptych .panel-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

.PassionPoints div.Feature .FeatureBody .Triptych .panel-container .Panel {
    -webkit-box-flex: 1;
    -ms-flex: 1 150px;
    flex: 1 150px;
    padding: 0;
    text-align: left;
    margin: 10px
}

@media all and (max-width:700px) {
    .PassionPoints div.Feature .FeatureBody .Triptych .panel-container .Panel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 300px;
        flex: 1 300px;
        text-align: left;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .PassionPoints div.Feature .FeatureBody .Triptych .panel-container .Panel figure {
        padding-right: .6em;
        min-width: 30%;
        max-width: 30%
    }
}

@media all and (max-width:390px) {
    .PassionPoints div.Feature .FeatureBody .Triptych .panel-container .Panel figure {
        padding-right: .6em;
        min-width: 30%;
        max-width: 30%
    }
}

.PassionPoints div.Feature .FeatureBody .Triptych .panel-container .Panel figure {
    padding-bottom: 1em
}

.PassionPoints div.Feature .FeatureBody .Triptych .panel-container .Panel p {
    font-size: .8rem;
    padding-bottom: 1em;
    vertical-align: top
}

[dir=rtl].PassionPoints div.Feature .FeatureBody .Triptych .panel-container .Panel p {
    text-align: right
}

.PassionPoints div.Feature .FeatureBody .Subhead figure, .PassionPoints div.Feature .FeatureBody .Triptych figure,
.PassionPoints div.Feature .FeatureBody .Triptych + figure figure, .PassionPoints div.Feature .FeatureBody .Triptych + figure + p figure {
    margin: 0
}

.PassionPoints div.Feature .FeatureBody .Subhead p, .PassionPoints div.Feature .FeatureBody .Triptych p,
.PassionPoints div.Feature .FeatureBody .Triptych + figure p, .PassionPoints div.Feature .FeatureBody .Triptych + figure + p p {
    text-align: left;
    padding: 0
}

.PassionPoints div.Feature .FeatureBody .Triptych p, .PassionPoints div.Feature .FeatureBody .Triptych + figure p,
.PassionPoints div.Feature .FeatureBody .Triptych + figure + p p, [dir=rtl].PassionPoints div.Feature .FeatureBody .Subhead p {
    text-align: right
}

.PassionPoints div.Feature .FeatureBody .Triptych .Panel p {
    padding: 0 .3em
}

.PassionPoints div.Feature .FeatureBody .Triptych + figure + p {
    width: 60%;
    margin: 0 auto
}

@media all and (max-width:1161px) {
    .PassionPoints div.Feature .FeatureBody .Triptych + figure + p {
        width: 90%
    }
}

.PassionPoints div.Feature .FeatureBody > figure:last-of-type {
    padding-top: 2em;
    border-top: 1px solid #ccc;
    margin-top: 0
}

.PassionPoints div.Feature .FeatureBody > figure.hide-me:last-of-type + p {
    padding-top: 2em;
    border-top: 1px solid #ccc;
    margin-top: 0
}

.PassionPoints div.Feature .FeatureBody .Outro {
    border-top: 1px solid #ccc;
    padding-top: 1em;
    text-align: left
}

[dir=rtl].PassionPoints div.Feature .FeatureBody .Outro {
    text-align: right
}

.PassionPoints div.Feature .FeatureBody .Outro figure {
    margin: 1em 0 1.25em 0
}

.PassionPoints div.Feature .FeatureBody .Outro.outro-center footer,
.PassionPoints div.Feature .FeatureBody .Outro.outro-center p {
    text-align: center
}

.PassionPoints div.Feature[aria-expanded=true] {
    cursor: default
}

.PassionPoints div.Feature[aria-expanded=true] .Triptych + figure + p figure {
    float: left
}

.PassionPoints div.Feature[aria-expanded=true] .toggle-feature-btn {
    width: 24px;
    height: 24px;
    background: url(img/icon-close.svg) center 97% no-repeat;
    background-size: 24px 24px;
    position: absolute;
    top: 20px;
    right: 20px
}

[dir=rtl].PassionPoints div.Feature[aria-expanded=true] .toggle-feature-btn {
    right: auto;
    left: 20px
}

div.Task {
    margin: 1.3em 0;
    background-color: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

div.Task:hover .task-arrow {
    background-image: url(img/arrow-blue.svg) !important
}

.no-hover div.Task:hover .task-arrow {
    background-image: url(img/arrow.svg) !important
}

div.Task + .Task {
    margin-top: -1.3em;
    border-top-color: transparent
}

div.Task.no-header .TaskBody {
    margin-top: 1em
}

div.Task:first-child {
    margin-top: 1.4em
}

div.Task > .Name {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding-top: .79em;
    padding-bottom: .79em;
    padding-right: 1em
}

[dir=rtl] div.Task > .Name {
    text-align: right
}

div.Task > .Name:hover {
    color: #007aff
}

.no-hover div.Task > .Name:hover {
    color: #000
}

[dir=rtl] div.Task > .Name {
    padding-right: 0;
    padding-left: 1em
}

div.Task > .Name .task-arrow {
    background-image: url(img/arrow.svg);
    position: absolute;
    background-size: 1em 1em;
    width: 1em;
    height: 1em;
    top: .95em;
    right: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear
}

[dir=rtl] div.Task > .Name .task-arrow {
    left: 0;
    right: auto
}

div.Task > .Name .TaskButtonName[aria-expanded=true] .task-arrow {
    -webkit-transform: rotate(270deg) !important;
    transform: rotate(270deg) !important
}

div.Task > .Name:focus {
    outline: 0
}

div.Task > .Name .TaskButtonName {
    text-align: left
}

[dir=rtl] div.Task > .Name .TaskButtonName {
    text-align: right
}

div.Task.SoloTask .Name {
    cursor: text
}

div.Task.SoloTask .Name:hover {
    color: #000 !important
}

div.Task.SoloTask .task-arrow {
    display: none
}

div.Task .TaskBody {
    padding-bottom: 0;
    margin-top: -.214em;
    margin-right: 0;
    margin-bottom: .125em;
    opacity: 1;
    overflow: hidden
}

@media screen {
    div.Task .TaskBody {
        display: none
    }
}

@media print {
    div.Task .TaskBody {
        display: block !important;
        opacity: 1
    }
}

@media screen {
    div.Task .TaskBody[aria-hidden=false] {
        display: block
    }
}

@media screen {
    div.Task .TaskBody[aria-hidden=true] {
        opacity: 0;
        max-height: 0 !important
    }
}

div.Task .TaskBody > .Alert, div.Task .TaskBody > .Alert:first-child,
div.Task .TaskBody > figure, div.Task .TaskBody > p, div.Task .TaskBody > p + p,
div.Task .TaskBody > p:first-child {
    margin-top: .3em
}

div.Task .TaskBody {
    margin-left: -1.25em;
    padding-left: 1.25em
}

[dir=rtl] div.Task .TaskBody {
    margin-left: 0;
    margin-right: -1.25em
}

[dir=rtl] div.Task .TaskBody {
    padding-left: 0;
    padding-right: 1.25em
}

div.Task .TaskBody p {
    margin-left: 0
}

[dir=rtl] div.Task .TaskBody p {
    margin-left: 0;
    margin-right: 0
}

div.Task .TaskBody .ListSingle table, div.Task .TaskBody ol table {
    margin-left: -.5em
}

div.Task .TaskBody table {
    margin-left: 1em;
    width: calc(100% - 1em);
    width: -webkit-calc(100% - 1em)
}

[dir=rtl] div.Task .TaskBody table {
    margin-left: 0;
    margin-right: 1em
}

@media (-webkit-min-device-pixel-ratio:2) {
    .Task {
        border-width: .5px
    }
}

.Subhead .Name {
    font-size: 1rem;
    margin-top: 1.7em;
    margin-bottom: .3em;
    font-weight: 700
}

.Subhead .Name + p {
    margin-top: 0
}

.landing .inner h1 {
    font-size: 2.462rem;
    font-weight: 500;
    margin-top: .15em;
    margin-bottom: 0
}

div.Feature > .Name {
    font-size: 1.23rem;
    font-weight: 600;
    line-height: 1.5
}

div.Feature .FeatureBody .Name {
    font-size: 1rem;
    font-weight: 700
}

div.Task > .Name {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.43
}

figure {
    margin: 1.25em 0 .9em
}

figure img {
    max-width: 100%;
    height: auto
}

a {
    position: relative;
    outline: 0;
    text-decoration: none;
    color: #007aff
}

a:visited {
    color: #007aff
}

a:hover {
    text-decoration: underline
}

.no-hover a:hover {
    text-decoration: none
}

.ListDescriptor + .Alert {
    margin-top: -.25em !important
}

ul.ListSingle {
    font-weight: 400
}

ul.ListSingle > li {
    font-weight: 400;
    list-style-image: url(img/square-bullet.svg)
}

ul.ListSingle li > p {
    margin-top: .25em
}

ol.decimal > li {
    margin-top: 0;
    margin-bottom: 0;
    list-style: decimal
}

ol.decimal > li:lang(ar) {
    list-style-type: arabic-indic
}

ol.decimal > li:lang(he) {
    list-style-type: hebrew
}

ol.alpha > li {
    margin-top: 0;
    margin-bottom: 0;
    list-style: lower-alpha !important
}

dl dd, dl dt {
    display: inline;
    margin: 0
}

dl dt {
    float: left;
    font-weight: 700
}

dl dt:after {
    content: '\00a0\00a0'
}

ul .Example {
    margin-left: 3em
}

[dir=rtl] ul .Example {
    margin-left: 0;
    margin-right: 3em
}

ul.ListSingle {
    margin-left: 0
}

[dir=rtl] ul.ListSingle {
    margin-left: 0;
    margin-right: 0
}

ul.ListSingle > li {
    padding-left: .5em;
    margin-left: 1.15em
}

[dir=rtl] ul.ListSingle > li {
    padding-left: 0;
    padding-right: .5em
}

[dir=rtl] ul.ListSingle > li {
    margin-left: 0;
    margin-right: 1.15em
}

ul.ListSingle > li > ul {
    margin-left: 1.25em
}

[dir=rtl] ul.ListSingle > li > ul {
    margin-left: 0;
    margin-right: 1.25em
}

ol, ul {
    margin-top: .3em;
    margin-bottom: 1em
}

ol > li, ul > li {
    margin-top: .3em;
    margin-bottom: .7em
}

ul > li {
    list-style: disc
}

ol > li {
    list-style: decimal
}

ol > li:lang(ar) {
    list-style-type: arabic-indic
}

ol > li:lang(he) {
    list-style-type: hebrew
}

ol {
    margin-left: 1.65em
}

[dir=rtl] ol {
    margin-left: 0;
    margin-right: 1.65em
}

ul {
    margin-left: 1.45em
}

[dir=rtl] ul {
    margin-left: 0;
    margin-right: 1.45em
}

ul > li {
    padding-left: .25em
}

[dir=rtl] ul > li {
    padding-left: 0;
    padding-right: .25em
}

ol ol, ul ol {
    margin-left: 1.5em
}

[dir=rtl] ol ol, [dir=rtl] ul ol {
    margin-left: 0;
    margin-right: 1.5em
}

ol ul, ul ul {
    margin-left: 1.3em
}

[dir=rtl] ol ul, [dir=rtl] ul ul {
    margin-left: 0;
    margin-right: 1.3em
}

.landing .inner figure img {
    max-height: 110px;
    width: auto
}

@media all and (max-width:700px) {
    [dir=rtl].landing .inner {
        margin: 0 -1.53846em 0 -1.53846em
    }
}

.landing-toc-btn {
    display: inline-block;
    padding-top: .76923em;
    padding-bottom: .76923em;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin: 0 0 1.53846em 0
}

.landing-toc-btn + .Feature {
    padding-top: 0 !important
}

.landing-toc-btn li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 0 1em !important;
    border-right: 1px solid #e5e6e7
}

[dir=rtl] .landing-toc-btn li {
    border-right: 0;
    border-left: 1px solid #e5e6e7
}

.landing-toc-btn li:last-child {
    border: 0
}

.landing-toc-btn li p {
    margin: 0;
    position: relative;
    font-size: 1.154em;
    cursor: pointer
}

.landing-toc-btn li p .icon-info {
    background: url(../img/toc.svg) no-repeat center left;
    position: relative;
    width: 1.154em;
    height: 1.154em;
    top: .18em;
    margin-right: .4em;
    display: inline-block
}

[dir=rtl] .landing-toc-btn li p .icon-info {
    margin-right: 0;
    margin-left: .4em;
    float: right;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.landing-toc-btn li a:hover {
    text-decoration: none
}

[dir=ltr] figure:not(.topicIcon) {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

[dir=rtl] figure:not(.topicIcon) {
    max-width: 320px
}

figure:not(.topicIcon) img {
    width: 42.96%
}

[dir=rtl] figure:not(.topicIcon) img {
    width: auto
}

@media all and (max-width:390px) {
    figure:not(.topicIcon) img {
        width: 37.59%
    }

    [dir=rtl] figure:not(.topicIcon) img {
        width: auto
    }
}

figure.topicIcon img {
    width: 75%
}

[dir=rtl] figure.topicIcon {
    float: right
}

.single-landing figure.topicIcon img {
    width: auto
}

header.Hero figure, table figure {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

header.Hero figure img, table figure img {
    width: 50%
}

header.Hero figure {
    margin: 0 auto
}

.PassionPoints div.Feature .FeatureBody .Subhead figure {
    -ms-flex-item-align: auto;
    align-self: auto
}

.copyright-text {
    display: none;
    padding-top: 2em;
    text-align: left;
    white-space: pre-line;
    color: #b1b1b1;
    font-size: .8462rem;
    clear: both
}

@media print {
    .copyright-text {
        display: block
    }
}

#feedback {
    float: left;
    clear: both;
    position: relative;
    padding-top: 1.6em;
    margin-top: .5em;
    margin-bottom: 4em;
    text-align: left
}

[dir=rtl] #feedback {
    text-align: right;
    float: right
}

@media print {
    #feedback {
        display: none
    }
}

#feedback a {
    color: #007aff;
    text-transform: none;
    cursor: pointer
}

#feedback a:hover {
    text-transform: underline
}

.no-hover #feedback a:hover {
    text-transform: none
}

#feedback .choices-label, #feedback .confirm, #feedback .solicit {
    transition: opacity .3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    opacity: 1;
    z-index: 2
}

#feedback .choices-label[aria-hidden=true], #feedback .confirm[aria-hidden=true],
#feedback .solicit[aria-hidden=true] {
    overflow: hidden;
    opacity: 0;
    z-index: 1
}

#feedback .choices-label, #feedback .confirm {
    font-weight: 700
}

#feedback .solicit {
    font-style: italic
}

#feedback form {
    transition: max-height 0s linear .4s, opacity .3s linear, padding-top 0s linear .4s, padding-bottom 0s linear .4s;
    padding-top: 2em;
    padding-bottom: 1em;
    opacity: 1;
    max-height: 800px
}

#feedback form[aria-hidden=true] {
    overflow: hidden;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0
}

#feedback form[aria-hidden=false] .choices label {
    margin-top: .4em;
    margin-bottom: .4em
}

#feedback .choices-label[aria-hidden=false], #feedback .confirm[aria-hidden=false],
#feedback .solicit[aria-hidden=false], #feedback form[aria-hidden=false] {
    transition-delay: .4s
}

#feedback .choices label {
    position: relative;
    display: block;
    padding: 0 0 0 1.5em;
    transition: margin-top 0s linear .4s, margin-bottom 0s linear .4s
}

[dir=rtl] #feedback .choices label {
    padding: 0 1.5em 0 0
}

#feedback .choices input {
    position: absolute;
    top: .25em;
    left: 1px
}

[dir=rtl] #feedback .choices input {
    left: auto;
    right: 0
}

#feedback textarea {
    resize: none;
    height: 6em;
    width: 100%
}

#feedback button {
    font-size: 16px;
    line-height: 1.9375;
    font-weight: 500;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    text-align: center;
    white-space: nowrap;
    margin-right: 8px
}

#feedback button:hover {
    background-color: #147bcd;
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
    text-decoration: none
}

#feedback button:focus {
    box-shadow: 0 0 0 3px rgba(131, 192, 253, .5);
    outline: 0
}

#feedback button:active {
    background-color: #0067b9;
    background: linear-gradient(#3d94d9, #0067b9);
    border-color: #006dbc;
    outline: 0
}

#feedback button:disabled {
    border-color: #07c;
    color: #fff;
    cursor: default;
    opacity: .3
}

#feedback button[name=cancel] {
    border-color: #6a6a6a;
    background-color: #595959;
    background: linear-gradient(#888, #595959)
}

body {
    min-width: 390px;
    max-width: 1912px;
    padding: 2.61538em 2.61538em 2.61538em 2.61538em
}

@media all and (max-width:700px) {
    body {
        padding: 1.69231em 1.53846em 1.69231em 1.53846em
    }
}

#debug {
    border-top: 1px dashed #ccc;
    clear: both
}

#debug table {
    max-width: 400px
}

#debug table th {
    background-color: #007aff;
    color: #fff;
    border: 1px solid #007aff
}

#debug table td, #debug table th {
    padding: .2em .5em
}

#debug table tr {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}

#debug table tr:nth-child(even) {
    background: #fff
}

#debug table tr:nth-child(odd) {
    background: #ddd
}


