<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>{{URL}}</string>
		<key>displayImageURL</key>
		<string> </string>
		<key>fullSizeImageURL</key>
		<string> </string>
	</dict>
	<key>uploadBitcode</key>
	<false/>
	<key>compileBitcode</key>
	<false/>
	<key>iCloudContainerEnvironment</key>
	<string>Production</string>
</dict>
</plist>
