<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>windmill.xcodeproj</string>
			<key>TargetName</key>
			<string>windmillTests</string>
			<key>TestName</key>
			<string>windmillTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.0123831033706665</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.0114690065383911</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.0110169649124146</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.010470986366272</real>
											<key>TestIdentifier</key>
											<string>ApplicationStorageTest/testGivenValueAssertStored()</string>
											<key>TestName</key>
											<string>testGivenValueAssertStored()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>8C0BD148-AAB1-4C59-98B2-8F7F59EA4963</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>ApplicationStorageTest</string>
									<key>TestName</key>
									<string>ApplicationStorageTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>windmillTests.xctest</string>
							<key>TestName</key>
							<string>windmillTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProjectPath</key>
			<string>windmill.xcodeproj</string>
			<key>TargetName</key>
			<string>IntegrationTests</string>
			<key>TestName</key>
			<string>IntegrationTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>2.216810941696167</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>2.215790987014771</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>2.215020895004272</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.1386330127716064</real>
											<key>TestIdentifier</key>
											<string>AccountResourceTest/testGivenAccountAssertWindmills()</string>
											<key>TestName</key>
											<string>testGivenAccountAssertWindmills()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5828ABC6-4A8A-4120-985E-EC09FEEA3024</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>2.057961106300354</real>
											<key>TestIdentifier</key>
											<string>AccountResourceTest/testGivenRequestRegisterDeviceAssertDevice()</string>
											<key>TestName</key>
											<string>testGivenRequestRegisterDeviceAssertDevice()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>67471B34-9213-43FC-9A5B-C47A3459E702</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.01701295375823975</real>
											<key>TestIdentifier</key>
											<string>AccountResourceTest/testGivenRequestRegisterDeviceForUnknownAccountAssertError()</string>
											<key>TestName</key>
											<string>testGivenRequestRegisterDeviceForUnknownAccountAssertError()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C7E7BD8D-FC3B-47A8-B3C8-1EA6BC348017</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>AccountResourceTest</string>
									<key>TestName</key>
									<string>AccountResourceTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>IntegrationTests.xctest</string>
							<key>TestName</key>
							<string>IntegrationTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
