<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>windmill.xcodeproj</string>
			<key>TargetName</key>
			<string>windmillTests</string>
			<key>TestName</key>
			<string>windmillTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.01688599586486816</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.0003169775009155273</real>
							<key>Subtests</key>
							<array/>
							<key>TestIdentifier</key>
							<string>Quick.framework</string>
							<key>TestName</key>
							<string>Quick.framework</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
						<dict>
							<key>Duration</key>
							<real>0.01535797119140625</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.01458990573883057</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.01380705833435059</real>
											<key>TestIdentifier</key>
											<string>ApplicationStorageTest/testGivenValueAssertStored()</string>
											<key>TestName</key>
											<string>testGivenValueAssertStored()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>9AD1A0C0-C5DC-474A-9793-8558C229C96F</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>ApplicationStorageTest</string>
									<key>TestName</key>
									<string>ApplicationStorageTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>windmillTests.xctest</string>
							<key>TestName</key>
							<string>windmillTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProjectPath</key>
			<string>windmill.xcodeproj</string>
			<key>TargetName</key>
			<string>IntegrationTests</string>
			<key>TestName</key>
			<string>IntegrationTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>15.14591205120087</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>15.1443740129471</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>15.14352309703827</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>FinishTimeInterval</key>
													<real>543466947.644805</real>
													<key>StartTimeInterval</key>
													<real>543466947.644147</real>
													<key>Title</key>
													<string>Assertion Failure: AccountResourceTest.swift:39: Asynchronous wait failed: Exceeded timeout of 5 seconds, with unfulfilled expectations: &quot;testGivenAccountAssertWindmills()&quot;.</string>
													<key>UUID</key>
													<string>A35AF617-E282-4990-B755-3F2210778BB3</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>5.050686001777649</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/qnoid/Library/Caches/io.windmill.windmill/Sources/windmill-ios/IntegrationTests/AccountResourceTest.swift</string>
													<key>LineNumber</key>
													<integer>39</integer>
													<key>Message</key>
													<string>Asynchronous wait failed: Exceeded timeout of 5 seconds, with unfulfilled expectations: &quot;testGivenAccountAssertWindmills()&quot;.</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>AccountResourceTest/testGivenAccountAssertWindmills()</string>
											<key>TestName</key>
											<string>testGivenAccountAssertWindmills()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>B46CE41D-11EE-498A-8A65-AE0E8BB0BF43</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>FinishTimeInterval</key>
													<real>543466952.696534</real>
													<key>StartTimeInterval</key>
													<real>543466952.696012</real>
													<key>Title</key>
													<string>Assertion Failure: AccountResourceTest.swift:64: Asynchronous wait failed: Exceeded timeout of 5 seconds, with unfulfilled expectations: &quot;testGivenRequestRegisterDeviceAssertDevice()&quot;.</string>
													<key>UUID</key>
													<string>C6161489-BD4C-493D-AE22-44CEAB7F3DB5</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>5.050940990447998</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/qnoid/Library/Caches/io.windmill.windmill/Sources/windmill-ios/IntegrationTests/AccountResourceTest.swift</string>
													<key>LineNumber</key>
													<integer>64</integer>
													<key>Message</key>
													<string>Asynchronous wait failed: Exceeded timeout of 5 seconds, with unfulfilled expectations: &quot;testGivenRequestRegisterDeviceAssertDevice()&quot;.</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>AccountResourceTest/testGivenRequestRegisterDeviceAssertDevice()</string>
											<key>TestName</key>
											<string>testGivenRequestRegisterDeviceAssertDevice()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>56AE00BD-640F-483E-9DDC-49489F72FA0F</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>FinishTimeInterval</key>
													<real>543466957.737224</real>
													<key>StartTimeInterval</key>
													<real>543466957.736828</real>
													<key>Title</key>
													<string>Assertion Failure: AccountResourceTest.swift:90: Asynchronous wait failed: Exceeded timeout of 5 seconds, with unfulfilled expectations: &quot;testGivenRequestRegisterDeviceForUnknownAccountAssertError()&quot;.</string>
													<key>UUID</key>
													<string>3EA6EF69-BBEF-4991-8ED9-DD68477582DD</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>5.039975047111511</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/qnoid/Library/Caches/io.windmill.windmill/Sources/windmill-ios/IntegrationTests/AccountResourceTest.swift</string>
													<key>LineNumber</key>
													<integer>90</integer>
													<key>Message</key>
													<string>Asynchronous wait failed: Exceeded timeout of 5 seconds, with unfulfilled expectations: &quot;testGivenRequestRegisterDeviceForUnknownAccountAssertError()&quot;.</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>AccountResourceTest/testGivenRequestRegisterDeviceForUnknownAccountAssertError()</string>
											<key>TestName</key>
											<string>testGivenRequestRegisterDeviceForUnknownAccountAssertError()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>1DA0C57B-8CA4-4678-B67E-6D6E542BC0BF</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>AccountResourceTest</string>
									<key>TestName</key>
									<string>AccountResourceTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>IntegrationTests.xctest</string>
							<key>TestName</key>
							<string>IntegrationTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
